<!doctype html>

<html>
<head>
  <meta charset="utf-8" />
  <title>travel book</title>
  <link rel="stylesheet" type="text/css" href="../styles/pure-min.css">
  <link rel="stylesheet" type="text/css" href="../styles/style.css">
  <link href='http://fonts.googleapis.com/css?family=Reenie+Beanie|Rock+Salt|Josefin+Slab|Roboto' rel='stylesheet' type='text/css'>
  <script src="js/d3.min.js"></script>
  <script src="js/topojson.v1.min.js"></script>
</head>
<body ng-app='travel_book'>
<!--   <h1 class="salt">travel book</h1> -->
  <h1 class="title beenie">Travel Book ~ click a country to get started . . . </h1>

  <div id="container">
  <!-- D3 map will be rendered here -->
  </div>


  <div class="content" ng-controller="mainController">
    <h3 class="salt title">{{name}}</h3>
    <form name='add-link' class='link-submit' ng-submit='linkSubmit()'>
      <input name='link' class='slab form-url' type='text' ng-model='link.url' placeholder="Enter the URL here . . .">
      <input name='link' class='slab form-alias' type='text' ng-model='link.alias' placeholder="Enter a link alias (optional)">   
      <input type='submit' class = "pure-button button-secondary button-xsmall" value='Add a Link +'>
    </form>
    <ul class="link-list" ng-repeat="link in userLinks">
      <li><a href="{{link.url}}">{{link.alias || link.url}}</a></li>
    </ul>
    <textarea class="slab notes" placeholder="add your notes here . . .">{{notes}}</textarea>
  </div>


  <script src='../../bower_components/angular/angular.js'></script>
  <script src='../../bower_components/angular-ui-router/release/angular-ui-router.js'></script>
  <script src='../js/app.js'></script>

</body>

</html>